li {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

li::after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: yellow; 
  transition: all 600ms ease;
  transform: scaleX(0);
  transform-origin: bottom center;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
@keyframes animation-menu {
  0%{
    top: -400px;
  }
  100%{
    top: 20px;
  }
}
.transition-menu{
  animation: animation-menu 0.5s ease forwards;
  /* transition: all 1s ease-in-out; */
}